version: "3.9"

services:

  mongodb:
    image: mongo:7
    container_name: leadrocket-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: leadrocket-backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      SPRING_PROFILES_ACTIVE: dev
      MONGO_URI: mongodb://mongodb:27017/leadrocket_dev
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/leadrocket_dev

volumes:
  mongo_data:
