spring:
  application:
    name: lead-rocket-backend

  profiles:
    active: dev

  data:
    redis:
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD}
      timeout: 2s

  cache:
    type: redis

server:
  port: 8080
